{% extends 'notes/base.html' %}
{% load static %}

{% block title %}Add a note{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/add_note.css' %}">
{% endblock %}

{% block content %}
    <div class="form-container">
        <h1 class="form-title">Add a Note</h1>
        <form method="post" class="note-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.title.label_tag }}
                {{ form.title }}
            </div>
            <div class="form-group">
                 {{ form.content.label_tag }}
                 <div class="markdown-editor">
                   <div class="editor-buttons">
                     <button type="button" class="markdown-button" data-action="bold"><i class="fas fa-bold"></i></button>
                     <button type="button" class="markdown-button" data-action="italic"><i class="fas fa-italic"></i></button>
                     <button type="button" class="markdown-button" data-action="heading"><i class="fas fa-heading"></i></button>
                     <button type="button" class="markdown-button" data-action="list"><i class="fas fa-list-ul"></i></button>
                   </div>
                  {{ form.content }}
                 </div>
            </div>
            <button type="submit" class="submit-button">Save Note</button>
        </form>
    </div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
      const markdownButtons = document.querySelectorAll('.markdown-button');
      const contentTextarea = document.querySelector('#id_content');

      markdownButtons.forEach(button => {
          button.addEventListener('click', function() {
              const action = this.getAttribute('data-action');
              let text = contentTextarea.value;
              const selectionStart = contentTextarea.selectionStart;
              const selectionEnd = contentTextarea.selectionEnd;
              const selectedText = text.substring(selectionStart, selectionEnd);
              let newText;

              switch (action) {
                case 'bold':
                    newText = text.substring(0,selectionStart) + `**${selectedText}**` + text.substring(selectionEnd);
                    break;
                case 'italic':
                  newText = text.substring(0,selectionStart) + `*${selectedText}*` + text.substring(selectionEnd);
                  break;
                case 'heading':
                  newText = text.substring(0,selectionStart) + `# ${selectedText}` + text.substring(selectionEnd);
                  break;
                case 'list':
                  newText = text.substring(0,selectionStart) + `- ${selectedText}` + text.substring(selectionEnd);
                    break;

                default:
                  newText = text;

              }

               contentTextarea.value = newText;
          });
      });
  });
</script>

{% endblock %}