{% extends 'notes/base.html' %}
{% block title %} Home page {% endblock %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <h1 class="welcome">Welcome to the Notes App!</h1>
        <div class="row g-3">
            {% for note in notes %}
            <div class="col-md-3">
                <div class="card">
                    <a href="{% url 'specific' note.id %}">
                    <div class="card-body">
                        <h5 class="card-title">{{ note }}</h5>
                    </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}