{% extends 'notes/base.html' %}
{% load static %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/specific_note.css' %}">
{% endblock %}

{% block content %}
    <div class="note-detail-container">
        <h1 class="note-detail-title">{{ note.title }}</h1>
        <div class="note-detail-content" id="markdown-content">
        </div>
        <div class="button-group">
        <a href="{% url 'home' %}" class="back-button">Back to Home</a>
          <form action="{% url 'delete_note' note.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="delete-button">Delete</button>
          </form>
          <a href="{% url 'edit_note' note.id %}" class="edit-button">Edit</a>
        </div>

    </div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const converter = new showdown.Converter();
        const content = `{{ note.content|escapejs }}`;
        const html = converter.makeHtml(content);
        document.getElementById('markdown-content').innerHTML = html;
    });
</script>

{% endblock %}