body, html {
    background-color: aliceblue;
}

.nav-item {
    display: flex;
    gap: 10px;
    padding: 5px 10px;
}

.navbar-brand {
    display: flex;
}

.navbar {
    padding: 10px 20px;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.container {
    padding-top: 20px;
}