.note-detail-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.note-detail-container:hover {
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.15);
}


.note-detail-title {
    text-align: center;
    color: #343a40;
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.note-detail-content {
    font-size: 1.1rem;
    color: #495057;
    line-height: 1.7;
    margin-bottom: 35px;
    font-family: 'Poppins', sans-serif;
    white-space: pre-wrap;
}

.button-group {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 20px;
  align-items: center;
}


.back-button, .delete-button, .edit-button {
    display: inline-block;
    padding: 14px 22px;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

.back-button {
    background-color: #48a5ff;
    color: white;
}
.delete-button {
  background-color: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
}
.edit-button {
  background-color: #3498db;
    color: white;
}

.back-button:hover{
  background-color: #3a81c5;
  transform: translateY(-2px);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

.delete-button:hover {
  background-color: #c0392b;
    transform: translateY(-2px);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}
.edit-button:hover {
  background-color: #2980b9;
  transform: translateY(-2px);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

.back-button:active, .delete-button:active, .edit-button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}